/*自定义类*/

label{
	text-align: left;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.row{
	margin: 0;
}
a:hover{
	text-decoration: none;
}
.nopadding {
	padding: 0;
}
.noborder{
	border: none !important;
}
.line{
	width: 100%;
	height: 1px;
	background: #c7c4c4;
}
.carousel-inner{
	width: 100%;
	min-height:300px ;
	overflow: hidden;
}
.carousel-inner img{
	/*min-height: 300px;
	width:100%;*/
	height: 100%;
	width: auto;
	margin-top: 2em;
}
/*banner大图背景部分*/
.my_carousel_cap{
	height:80%;
}
.my_carousel_cap .jk_title{
	color: #00afff;
	font-size: 1.8em;
	font-weight: bold;
	letter-spacing: 0.875em;
	line-height: 1.6;
	margin-top: 1.875em;
	-moz-text-shadow: 0 1px 0.1875em rgba(0,0,0,0.8) ;
	-webkit-text-shadow: 0 1px 0.1875em rgba(0,0,0,0.8) ;
	text-shadow: 0 1px 0.1875em rgba(0,0,0,0.8) ;
}
.my_carousel_cap .xq_six{
	width: 5em;
	height: 5em;
	margin: 0 auto;
	font-size: 1.8em;
	color: #FFFFFF;
	text-align: center;
	line-height: 5em;
	font-weight: bold;
}
.my_carousel_cap .doubble_six{
	font-size: 1em;
	width: 20.6em;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.my_carousel_cap .doubble_six .rj_six{
	width: 5em;
	height: 5em;
	float: left;
	font-size: 1.8em;
	color: #FFFFFF;
	text-align: center;
	line-height: 5em;
	font-weight: bold;
}
.my_carousel_cap .doubble_six .fw_six{
	width: 5em;
	height: 5em;
	float: left;
	margin-left: 1.25em;
	font-size: 1.8em;
	color: #FFFFFF;
	text-align: center;
	line-height: 5em;
	font-weight: bold;
}


/*需求介绍部分need*/
.need_box{
	width: 100%;
	padding: 6.875em 0 6.875em 0;
	box-sizing: border-box;
}
.section_title{
	font-size: 2em;
	color: #1b1c1d;
	font-weight: bold;
}
.my_blue_btn{
	text-decoration: none;
	max-width: 12em;
	margin-top: 2.75em;
	background: #00a1e9;
	box-sizing: border-box;
	border: none;
	font-size: 1em;
	color: #FFFFFF;
	padding: 0.75em 3.75em;
	float: right;
}
.my_blue_btn:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.need_box .text_col p{
	margin-top: 5em;
	font-size: 1.125em;
	color: #3f4142;
	line-height: 1.7;
}
.tip_num{
	font-size: 1.625em;
	color: #ff0c00;
	margin: 0.9375em 0 1.875em 0;
}


/*软件介绍部分soft*/
.soft_bg{
	background: #f4f5f5;
}
.soft_box{
	overflow: hidden;
	width: 100%;
	padding: 5em 0 5em 0;
	box-sizing: border-box;

}
.soft_box .my_blue_btn{
	text-decoration: none;
	max-width: 12em;
	margin-top: 2.75em;
	background: #00a1e9;
	box-sizing: border-box;
	border: none;
	font-size: 1em;
	color: #FFFFFF;
	padding: 0.75em 3.75em;
	float: left;
}
.soft_box .soft_left_col{
	float: right;
}
.soft_box .text_col p{
	margin-top: 3.75em;
	font-size: 1.125em;
	color: #3f4142;
	line-height: 1.7;
}

/*服务介绍部分service*/
.service_box{
	width: 100%;
	padding: 5em 0 6.875em 0;
	box-sizing: border-box;
}
.service_box .text_col p{
	margin-top: 3.75em;
	font-size: 1.125em;
	color: #3f4142;
	line-height: 1.7;
}
